/* ---------------------------------------------main */
/* #3865ff */
.main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    scroll-behavior: smooth;
}

.main::-webkit-scrollbar {
    width: 0px;
}

.main-top {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
    -webkit-animation-name: showUp;
    animation-name: showUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    perspective: 900;
}

@-webkit-keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(30vh);
        -webkit-filter: hue-rotate(190deg);
        filter: hue-rotate(190deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0vh);
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(30vh);
        -webkit-filter: hue-rotate(190deg);
        filter: hue-rotate(190deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0vh);
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
}

.main-top--hidden {
    opacity: 0;
    transition: 1s;
}

.main-mover {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* ---------------------------------------------backVideo */
.bg-video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    /* -webkit-filter: saturate(5) brightness(2.2) hue-rotate(10deg); */
    /* -webkit-filter: saturate(5) brightness(2.2) hue-rotate(10deg) invert(1);
            filter: saturate(5) brightness(2.2) hue-rotate(10deg) invert(1); */
    -webkit-filter: brightness(1.2) invert(1) grayscale(100%);
    filter: brightness(1.2) invert(1) grayscale(100%);
}

/* ---------------------------------------------heading */
.heading {
    align-self: flex-start;
    transition: 0.4s !important;
    margin-top: 10vh;
    margin-left: 10vh;
}

.letters {
    position: relative;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    font-family: 'Anton', Arial, sans-serif;

    font-size: min(16vh, 16vw);
    text-shadow: -0.5vh -0.5vh #000000c5;
    background-image: linear-gradient(to left, #7c7c7c, #fcfcfca9);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.4s;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.small {
    font-size: min(5.3vh, 5.3vw);
    text-shadow: none;
    background-image: linear-gradient(to left, #1e72b9, #1e72b9);
    margin-top: 0vh;
    -webkit-filter: invert(0);
    filter: invert(0);
}
.red {
    position: relative;
    color: #00000052;
    text-shadow: -0.5vh -0.5vh #000000c5;
    background-color: #00000013;
    background-image: url('../../assets/background-3.svg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ---------------------------------------------description */

.description {
    position: absolute;
    align-self: flex-end;
    transform-origin: 100% 100%;
    transform: rotate(270deg);
    font-size: 2vh;
    margin-right: 2vh;
    white-space: nowrap;
    width: 100vh;
    text-align: center;
    color: #ececec;
}
.obout {
    position: absolute;
    align-self: center;
    font-size: max(min(2.75vh, 2.75vw), 17px);
    margin-right: 2vh;
    width: min(70%, 1200px);
    top: 60%;
    text-align: center;
    color: #ececec;
    line-height: 1.35;
}

@media screen and (max-width: 600px) {
    .obout {
        top: 45%;
    }
}
/* ---------------------------------------------main bottom */

.main-bottom {
    position: relative;
    height: 100vh;
    width: 100%;
    /*- background: left / cover no-repeat url("../../assets/background-1.png"), linear-gradient(210deg, #685eaf 0%, #fbbdcc 100%); */
    /* background: linear-gradient(155deg, #675eaf87 0%, #fbbdcc89 100%); */
    background: #131313;
    opacity: 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vh;
    overflow: hidden;
}

.main-bottom--visible {
    opacity: 1;
    transition: 1s;
}

.main-bottom-container {
    position: relative;
    width: min(70vw, 1000px);
    height: max(7vh, 7vw);
    background: linear-gradient(150deg, #c4c4c4 0%, #7a7a7a 100%);
    border-radius: max(3.5vh, 3.5vw);
    transition: 0.4s, opacity 0.15s;
    transform: skewY(-5deg);
    box-shadow: 0.5vh 0.5vh 1vh #2c2c2ca1;
    overflow: hidden;
    font-family: 'Anton', sans-serif;
    font-size: max(min(3vw, 3vh), 18px);
    color: rgb(26, 26, 26);
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
}

.main-bottom-container:focus {
    width: min(70vw, 1000px);
    height: min(35vh, 500px);
    cursor: default;
}
@media screen  and (orientation: portrait) {
    .main-bottom-container:focus {
        width: min(70vw, 1000px);
        height: min(70vw, 1000px);
        cursor: default;
    }
}

.main-bottom-title {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.4s, opacity 0.15s;
    font-size: max(min(3.5vw, 3.5vh), 18px);
    color: #1e72b9;
    text-shadow: 0 0 1px rgb(255, 255, 255);
}

.main-bottom-container > i {
    position: absolute;
    top: max(2vh, 2vw);
    left: max(2vh, 2vw);
    transition: 0.4s, opacity 0.15s;
}

.main-bottom-container > i > * {
    color: #1e72b9;
    font-size: max(3vh, 3vw);
    -webkit-filter: drop-shadow(0 0 1px rgba(255, 255, 255));
    filter: drop-shadow(0 0 1px rgba(255, 255, 255));
}

.main-bottom-container:focus .main-bottom-title {
    opacity: 0;
}

.main-bottom-container:focus i {
    opacity: 0;
}

.main-bottom-content {
    opacity: 0;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85%;
    transition: 0.4s;
}

.main-bottom-container:focus .main-bottom-content {
    opacity: 1;
}

.main-bottom-content-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: -1;
}

.main-bottom-content-header > i {
    position: absolute;
    opacity: 1 !important;
    left: max(2vh, 2vw);
    top: center;
}

.main-bottom-content-header > i > * {
    font-size: max(3vh, 3vw);
}

.main-bottom-text {
    font-size: min(min(4vh, 4vw), 24px);
    font-family: 'Roboto';
    white-space: initial;
    text-align: center;
    line-height: 3ch;
    white-space: nowrap;
    z-index: -1;
}

.main-bottom-link {
    text-decoration: none;
    color: #1e72b9;
    background-color: #ffffff01;
    pointer-events: none;
    text-shadow: 0 0 1px rgb(255, 255, 255);
    height: auto;
    padding: 1vh;
}
/* .main-bottom-container:focus .main-bottom-link {
    pointer-events: initial;
}
.main-bottom-link:hover {
    pointer-events: initial;
}

.main-bottom-background-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/11.jpg');
    background-position: center;
    background-size: cover;
    transition: 0.4s;
    opacity: 0.75;
    -webkit-filter: brightness(1) grayscale(0%);
    filter: brightness(1) grayscale(0%);
    z-index: 0;
}

.main-bottom-background-1:focus {
    opacity: 0.75;
    -webkit-filter: brightness(0.5) grayscale(100%);
    filter: brightness(0.5) grayscale(100%);
}

.main-bottom-background-2 {
    position: absolute;
    width: calc(100% + 15vw);
    height: 100%;
    background-image: url('../../assets/background-2.png');
    background-position: center;
    background-size: contain;
    opacity: 0.05;
    transition: 0.4s;
    transform: rotate(270deg);
    -webkit-filter: grayscale(100%) invert(0.8);
    filter: grayscale(100%) invert(0.8);
    z-index: -1;
}

.main-bottom-container:focus .main-bottom-background-2 {
    opacity: 1;
}

/* ---------------------------------------------mouseScroll */
.mouse_scroll {
    display: block;
    width: 24px;
    height: 100px;
    justify-self: flex-end;
    margin-bottom: 10vh;
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px; /* IE 9 */ /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 3px solid #1e72b9;
    border-bottom: 3px solid #1e72b9;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-delay: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-direction: alternate;
    animation-delay: 0.2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-direction: alternate;
    animation-delay: 0.3s;
    animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid rgb(0, 0, 0);
    -webkit-filter: invert(1);
    filter: invert(1);
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #1e72b9;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #1e72b9;
    border-radius: 8px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(6px);
    }
}
@keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 4px;
    }
    50% {
        top: 6px;
    }
    75% {
        top: 4px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .heading {
        margin-top: 5vh;
        margin-left: 5vh;
    }
    .letters {
        font-size: min(20vh, 20vw);
    }
    .small {
        font-size: min(6.6vh, 6.6vw);
        margin-top: 0vh;
    }
}
