/* ----------------------------------------------------logo */
.logo {
    position: absolute;
    top: 7.5vh;
    left: center;
}
.logo-letters {
    position: relative;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    font-family: 'Anton', Arial, sans-serif;
    font-size: 10vh;
    text-shadow: -0.4vh -0.4vh #ffffff;
    background-image: linear-gradient(to left, #ffffffdd, #fcfcfc4d);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.4s;
    -webkit-filter: drop-shadow(0 0 1px rgb(0, 0, 0, 0.5));
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.logo-small {
    font-size: 3.34vh;
    margin-left: -0.4vh;
    text-shadow: none;
    background-image: linear-gradient(to left, #ffffff77, #ffffff);
    margin-top: 0vh;
}
.logo-red {
    position: relative;
    color: #ffffff67;
    text-shadow: -0.4vh -0.4vh #ffffff;
    background-color: #00000010;
    background-image: url('../../../assets/background-3a.svg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-img {
    position: absolute;
    top: 7.5vh;
    left: center;
    width: 100%;
    height: 14vh;
    background-image: url('../../../assets/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ------------------------------------------------- menus */
.menu {
    height: 95vh;
    width: 20vh;
    position: absolute;
    top: 2.5vh;
    left: -30vh;
    left: min(-30vh, calc(-25vw + 5vh));

    background: #9b9b9b99;
    box-shadow: 0 8px 32px 0 #9797979d;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 1vh;
    border: 1px solid #ff004250;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    color: white;
    font-size: 1.9vh;
    transition: 0.5s, width 0s, height 0s, opacity 1s;
    opacity: 0;
}

.menu-background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 21.5vh;
    background-image: url('../../../assets/background-0.png');
    background-position: 0 0;
    background-size: 33vh;
    background-repeat: no-repeat;
    transition: 0.4s;
    -webkit-filter: grayscale(100%) drop-shadow(0 0 50px rgba(0, 0, 0, 0.5));
    filter: grayscale(100%) drop-shadow(0 0 50px rgba(0, 0, 0, 0.5));
}

.menu-layers--open {
    left: 2.5vh;
    opacity: 1;
}

.menu--top-bar {
    width: 100%;
    height: 4vh;
    background-color: #ff0042;
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu--top-bar > * {
    padding: 1.2vh;
}

.menu--top-bar > i {
    cursor: pointer;
}

.menu--top-bar > i > * {
    cursor: pointer;
    background-color: #ff396e;
    margin-top: 0.5vh;
    font-size: 3vh;
}

.menu--layer-changer > i > * {
    font-size: 5vh;
    cursor: pointer;
}

.menu--select {
    width: 17vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-height: 910px) {
    .menu--select > * {
        max-height: 0;
    }
    .menu--select-color {
        margin-bottom: 2vh;
    }
}

.menu--select-color {
    width: 60%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu--item-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1vh 0 1vh 0;
}

#menu-layer {
    width: max(29vh, calc(25vw - 7.5vh));
}

#menu-layer > .menu--item-selector {
    height: 100%;
}

#menu-layer > .menu--item-selector > .menu--select {
    width: 90% !important;
}

.menu-layer-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#menu-layers > .menu--item-selector {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.menu--item-select {
    margin-left: 0.5vh;
    width: 17vh;
    height: 17vh;
    background-color: #ffffff80;
    border-radius: 0.5vh;
    border: 1px solid #ffffffbf;
    transition: 0.25s;
    cursor: pointer;
    z-index: 10;
}

.menu--item-select:hover {
    background-color: #ffffff;
    border: 1px solid #ff0042;
}

.no-scroll {
    overflow: hidden !important;
}

.burger-menu {
    margin-top: 2.5vh;
    margin-left: 2.5vh;
    position: absolute;
    color: #ff0042;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    transition: 0.25s;
    background-color: #f3f3f3d1;
    box-shadow: 0 0 5px #f3f3f3d1;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    z-index: 10;
}
.burger-menu > i,
.burger-menu > i > * {
    font-size: 3vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    fill: #ff0042;
}
.burger-menu > i > * {
    font-size: 4vh;
    margin-right: 0.5vh;
}

.burger-menu--hidden {
    opacity: 0;
    z-index: -1;
}

.menu-main-frame {
    position: absolute;
    height: 100%;
    min-width: 33vh;
    background: transarent;
    background-color: rgba(255, 0, 0, 0.12);
    top: 0;
    left: -40vh;
    transition: 0.5s;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    z-index: 20;
}

.menu-main-frame--open {
    left: 0;
}

.menu-main {
    height: 100%;
    background-color: #ff0042;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    color: white;
    gap: 3vh;
    /* box-shadow: 0 0 5vh rgba(0, 0, 0, 0.5); */
    font-family: 'Anton';
    text-shadow: 0 0 1px black;
}

.menu-main--item {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.menu-main--item:hover {
    color: #feffbc;
}

.menu-main--item > * {
    margin-left: 1.5vh;
}
.menu-main--item > i > * {
    font-size: 4.5vh;
    -webkit-filter: drop-shadow(0 0 1px rgb(0, 0, 0, 0.5));
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}
.menu-main--item > p {
    font-size: 3vh;
    margin-top: -0.5vh;
}

.menu-image-title {
    position: relative;
    height: 0;
    margin: 0 0 0 0.5vh;
    font-size: 1.75vh;
    color: #ff0042;
    text-align: left;
}
.menu-image-delete {
    position: relative;
    height: 0;
    margin: 0 0.5vh 0 0;
    font-size: 1.75vh;
    color: #ff0042;
    text-align: right;
    cursor: pointer;
    z-index: 100;
}

.menu-layer-plus {
    margin-top: 4vh;
    font-size: 10vh;
    text-align: center;
    color: white;
    transition: 0.5s;
}
.menu-layer-plus:hover {
    color: #ff0042;
}

#menu-transform {
    width: max(29vh, calc(25vw - 7.5vh));
}

.menu-transform {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1vh;
    overflow: hidden;
    padding: 1vh 0 1vh 0;
}

.menu-transform-select {
    width: 4vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-height: 640px) {
    .menu {
        height: 95vh;
        top: 2.5vh;
        width: 25vh;
        font-size: 2vh;
    }
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ff396e transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
}

*::-webkit-scrollbar-track:active {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ff396e;
}

/* post form */

.post {
    width: min(60vw, 1000px);
    height: 60vh;
    background-color: #ff0042;
    color: white;
    border-radius: 1.5vh;
    padding: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    box-shadow: 0 0 15vh 50vw #00000071;

}

.menu--top-bar {
    display: flex;
    height: 10%;
    box-sizing: border-box;
}

.menu--top-bar > div {
    padding: 2vh 2vw;
    font-size: 2.5vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    font-weight: bold;
}

.post-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 2vw;
    height: 90%;
    box-sizing: border-box;
}

.post-form > fieldset {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.post-buttons {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.post-button {
    background-color: white;
    color: #ff0042;
    border: none;
    padding: 2vh;
    cursor: pointer;
    font-size: 2vh;
    width: 47%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
.post-button:hover {
    box-shadow: 0 0 1vh white;
}

#post-name,
#post-origin {
    width: 100%;
    font-size: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
}

#post-message {
    width: 100%;
    font-size: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    resize: none;
    border: none;
    height: 50%;
    outline: none;
}

#post-name:focus,
#post-origin:focus,
#post-message:focus {
    color: #ff0042;
    box-shadow: 0 0 1vh white;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .post {
        width: 80vw;
        height: 80vh;
    }
    #post-message {
        height: 65%;
    }
}

/* .post {
    position: absolute;
    z-index: 10;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: max(350px, 50vw);
    height: max(200px, 50vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff0042;
    border-radius: 1vh;
    color: white;
    overflow: hidden;
    box-shadow: 0 0 20vh #ffffff;
    background-color: #feffbc;
}

.post-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(204, 204, 204);
    padding: 5vh;
}

.post-buttons {
    height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.post-button {
    height: 5vh;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.post-form > fieldset {
    width: 90%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vh;
    color: black;
}

#post-name {
    width: 50%;
    font-size: 2vh;
}

#post-origin {
    width: 50%;
    font-size: 2vh;
}

#post-message {
    width: 100%;
    font-size: 2vh;
} */
